/scripts/output/WithoutGrl-v3/best_model.pth
/scripts/output/WithGrl-v1/checkpoint_epoch_200.pth
/scripts/output/WithGrl-v2/checkpoint_epoch_200.pth
/scripts/output/WithGrl-v3/checkpoint_epoch_200.pth
/scripts/output/WithoutGrl-v1/checkpoint_epoch_200.pth
/scripts/output/WithoutGrl-v2/checkpoint_epoch_200.pth
/scripts/output/WithoutGrl-v3/checkpoint_epoch_200.pth
